<div id="occasional-banner-container" class="occasional-banner">
	<div class="occasional-banner-close">
		<a id="occasional-banner-close-button" href="#" title="Schließen">
			<div class="occasional-banner-close-button"></div>
		</a>
	</div>
	<a id="occasional-banner-link"
	   href="https://de.wikipedia.org/wiki/Wikipedia:Wikimedia_Deutschland/DeinEngagement?campaign={{ campaign }}">
		<div class="occasional-banner-inner">
			<div class="occasional-banner-space">
			</div>
			<div class="occasional-banner-title">
				Danke, deine Bearbeitungen verbessern Wikipedia!
			</div>
			<div class="occasional-banner-banner">
				{{{ banner_text }}}
			</div>
			<div class="occasional-banner-illustration"></div>
			<div class="occasional-banner-button"></div>
		</div>
	</a>
</div>
