<div id="WMDE-banner" class="WMDE-banner">
	<a id="WMDE-banner-close-button" class="WMDE-banner-close-button" href="#" title="Schließen">
		<svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
			<path id="Close" d="M7,4.789l-4.789,-4.789l-2.211,2.211l4.789,4.789l-4.789,4.789l2.211,2.211l4.789,-4.789l4.789,4.789l2.211,-2.211l-4.789,-4.789l4.789,-4.789l-2.211,-2.211l-4.789,4.789Z"/>
		</svg>
	</a>
	<a id="WMDE-banner-link" class="WMDE-banner-link" href="https://de.wikipedia.org/wiki/Wikipedia:Kartensaison?campaign=kartensaison_2022&wp_user={{ wp_user }}&impression_count={{ impression_count }}">
		<div class="WMDE-banner-wrapper">
			<div class="WMDE-banner-image">
				<div>
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Grafik_f%C3%BCr_Banner_Kartensaison_2022.png/640px-Grafik_f%C3%BCr_Banner_Kartensaison_2022.png" alt="Stylized map with flowers">
				</div>
			</div>
			<div class="WMDE-banner-content">
				<div class="WMDE-banner-content-left">
					<div class="WMDE-banner-title">
						<div class="WMDE-banner-title-image">
							<div>
								<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Grafik_f%C3%BCr_Banner_Kartensaison_2022.png/320px-Grafik_f%C3%BCr_Banner_Kartensaison_2022.png" alt="Stylized map with flowers">
							</div>
						</div>
						<div class="WMDE-banner-title-text">
							<span class="WMDE-banner-title-text-line-1">Die Kartensaison</span> <span class="WMDE-banner-title-text-line-2">ist eröffnet.</span>
						</div>
					</div>
					<div class="WMDE-banner-copy">
						Mit Kartographer wird es nun endlich leichter, Karten in Artikel einzubauen. Probier es aus und hilf mit, die Kartenwünsche der deutschsprachigen Wikipedia zu erfüllen! Die Kartensaison läuft bis zum 14. Juli.
					</div>
				</div>
				<div class="WMDE-banner-content-right">
					<button class="WMDE-banner-button">
						Jetzt mitmachen!
					</button>
				</div>
			</div>
		</div>
	</a>
</div>
